/* Table of Contents
---------------------------------------
- General Content
- Typography
- Header & Navigation
- Images & Media (added float: left; under img)
- Footer
- FORM
- Media Queries
---------------------------------------- */

/* General Content
----------------------------------------- */
.main {padding-top: 3%;}
.row  {padding: 2% 0;}
.blue {background-color:#3B8183;}


/* Typography
----------------------------------------- */
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    color: black;
}

h2 {
    font-family: 'Lato';
    font-size: 3em;
    margin: 0.67em;
}

h2.bio{color:#fff;}
p.bio{color: #fff;}

/* Header & Navigation
----------------------------------------- */
header.main_nav{
    padding: 1% 0;
    display: block;
}
.logo{
    margin: 5% auto;
    text-align: center;
}
.logo a{
    font-size: 3em;
    color: #fff;
    text-decoration: none;
    border: 3px solid #fff;
    text-transform: uppercase;
    padding: 2px 10px 0 10px;
    margin: 0;
}
.logo a:hover{
    background-color: #fff;
    color: #7accc8;
}
/* Images & Media
----------------------------------------- */
img{
    /* max-width: 100%; */
    max-width: 50%;
    float: left;
}
img.avatar{
    border-radius: 400px;
    border:5px solid #fff;
}
img:hover{opacity:0.5;}


/* Footer
----------------------------------------- */
ul.social{
    display: block;
    margin: 5% 0;
    list-style-type: none;
    text-align: center;
}
ul.social li{
    font-size: 3em;
    display: inline;
    padding: 0 2%;
}

ul.social li a{
    color: #666;
}
ul.social li.linkedin a:hover{color: rgb(0, 123, 182);}
ul.social li.twitter a:hover{color: rgb(0, 172, 237);}

p.copyright{
    text-align: center;
    color; #666;
    font-size: lem;
}

.photogLink {
    text-decoration: none;
}


/* FORM
----------------------------------------- */

.section-form {
    text-align: center;
}

/* Media Queries
----------------------------------------- */

/* Larger than mobile */
@media (max-width: 479px) {
    .logo a{font-size: 2em;}
    .main{padding-top: 15%;}
    .portfolio img{margin-bottom: 10%;}
    img.avatar{margin-top: 15%;}
    h2.bio{font-size: 2.5em;}
    p.bio{font-size: 1.25em; color: #fff; }
    ul.social li a{font-size: .75em;}
}

